<configuration>
    <system.webServer>
        <handlers>
            <!-- path to application main file -->
            <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
        </handlers>
        <rewrite>
            <rules>
                <clear />
                <rule name="Redirect to https" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
                </rule>
                <rule name="server">
                    <match url="(.*)" />
                    <action type="Rewrite" url="server.js" />
                </rule>
            </rules>
        </rewrite>
		<iisnode watchedFiles="*.js;node_modules\*" />
    </system.webServer>
</configuration>